@model JCIEstimate.Models.ECMExceptionResponse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ECMExceptionResponse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ecmExceptionResponseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ecmExceptionResponseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ecmExceptionResponse1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ecmExceptionResponse1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECMException.ecmException1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECMException.ecmException1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ecmExceptionResponseUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
