@model JCIEstimate.Models.WarrantyUnit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WarrantyUnit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.locationUid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locationUid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warrantyUnit1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warrantyUnit1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warrantyUnitDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warrantyUnitDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.warrantyUnitUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
