@model JCIEstimate.Models.LocationIssue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocationIssue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locationIssue1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locationIssue1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.AllowableContractors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.AllowableContractors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.AllowableContractors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.AllowableContractors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.location1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.location1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyStatu.warrantyStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyStatu.warrantyStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.locationIssueUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
