@model IEnumerable<JCIEstimate.Models.LocationIssue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locationIssue1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.AllowableContractors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser1.AllowableContractors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.location1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyStatu.warrantyStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locationIssue1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.AllowableContractors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser1.AllowableContractors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.location1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyStatu.warrantyStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.locationIssueUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.locationIssueUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.locationIssueUid })
        </td>
    </tr>
}

</table>
