@model IEnumerable<JCIEstimate.Models.ExpenseMiscellaneousProject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseMiscellaneou.expenseMiscellaneous)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.project1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseMiscellaneou.expenseMiscellaneous)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.project1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.expenseMiscellaneousProjectUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.expenseMiscellaneousProjectUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.expenseMiscellaneousProjectUid })
        </td>
    </tr>
}

</table>
