@model IEnumerable<JCIEstimate.Models.WarrantyAttachment>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.warrantyAttachment1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyIssue.warrantyIssueLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.warrantyAttachment1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.document)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fileType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyIssue.warrantyIssueLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.warrantyAttachmentUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.warrantyAttachmentUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.warrantyAttachmentUid })
        </td>
    </tr>
}

</table>
