@model IEnumerable<JCIEstimate.Models.Eddress>

@{
    ViewBag.Title = "Eddress List";
}

<h2>Eddress List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPrimary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractorContact.jobTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPrimary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorContact.Contractor.contractorName) -
            @Html.DisplayFor(modelItem => item.ContractorContact.jobTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eddressUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.eddressUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eddressUid })
        </td>
    </tr>
}

</table>
