@model JCIEstimate.Models.EquipmentTaskDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipmentTaskDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipmentTaskDetail1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipmentTaskDetail1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentTask.equipmentTask1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentTask.equipmentTask1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.equipmentTaskDetailUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
