@model JCIEstimate.Models.ProjectRFI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectRFI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectRFI1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectRFI1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.AllowableContractors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.AllowableContractors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.AllowableContractors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.AllowableContractors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor.contractorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.contractorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECM.ecmNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECM.ecmNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.project1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.project1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RfiType.rfiType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RfiType.rfiType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.projectRFIUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
