@model IEnumerable<JCIEstimate.Models.ProjectRFI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.projectRFIID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectRFI1)
        </th>
        <th>
            Assigned To
        </th>
        <th>
            Created By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.contractorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ECM.ecmNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RfiType.rfiType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projectRFIID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectRFI1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser1.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.contractorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ECM.ecmNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RfiType.rfiType1)
        </td>
        <td>
            <a href="@Url.Action("Edit", "ProjectRFIs", new { id = item.projectRFIUid})"><img src="@Url.Content("~/Images/edit.png")" height="15" width="15" alt="Click to Edit" title="Click to Edit" /></a>
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Delete", "ProjectRFIs", new { id = item.projectRFIUid })"><img src="@Url.Content("~/Images/delete-icon.png")" height="15" width="15" alt="Click to Delete" title="Click to Delete" /></a>
            }
        </td>
    </tr>
}

</table>
