@model JCIEstimate.Models.ReportDefinition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportDefinition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ssrsReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ssrsReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textBox10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textBox10)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportDefinitionUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
