@model JCIEstimate.Models.ReportDefinition

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ReportDefinition</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReportDefinitionUid)

        <div class="form-group">
            @Html.LabelFor(model => model.ssrsReportName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ssrsReportName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ssrsReportName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.projectUid, null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("projectUid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectUid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox1, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox2, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox3, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox4, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox5, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox6, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox7, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox8, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox9, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox10, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox11, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox12, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox13, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox14, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox15, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox16, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox16, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox16, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox17, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox17, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox17, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox18, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox18, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox18, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox19, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox19, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox19, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox20, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox21, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox21, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox21, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox22, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox22, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox22, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox23, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox23, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox23, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox24, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox24, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox24, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox25, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox25, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox25, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox26, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox26, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox26, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox27, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox27, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox27, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox28, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox28, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox28, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox29, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox29, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox29, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox30, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox30, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox30, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox31, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox31, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox31, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox32, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox32, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox32, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox33, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox33, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox33, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox34, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox34, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox34, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox35, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox35, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox35, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox36, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox36, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox36, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox37, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox37, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox37, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox38, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox38, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox38, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox39, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox39, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox39, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox40, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox40, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox40, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox41, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox41, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox41, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox42, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox42, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox42, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox43, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox43, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox43, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox44, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox44, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox44, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox45, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox45, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox45, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox46, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox46, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox46, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox47, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox47, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox47, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox48, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox48, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox48, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox49, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox49, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox49, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.textBox50, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.textBox50, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.textBox50, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
