@model JCIEstimate.Models.ContractorClassification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContractorClassification</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contractorClassification1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractorClassification1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contractorClassificationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractorClassificationDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contractorClassificationUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
