@model IEnumerable<JCIEstimate.Models.ContractorClassification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contractorClassification1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contractorClassificationDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contractorClassification1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contractorClassificationDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contractorClassificationUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.contractorClassificationUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contractorClassificationUid })
        </td>
    </tr>
}

</table>
