@model JCIEstimate.Models.SalesOpportunity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesOpportunity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.milestoneUid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.milestoneUid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.AllowableContractors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.AllowableContractors)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.salesOpportunityUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
