@model IEnumerable<JCIEstimate.Models.SalesOpportunity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opportunity.opportunity1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opportunity.opportunity1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.salesOpportunityUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.salesOpportunityUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.salesOpportunityUid })
        </td>
    </tr>
}

</table>
