@model IEnumerable<JCIEstimate.Models.SalesTeamMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesTeam.salesTeam1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.salesTeamMemberUid })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesTeam.salesTeam1)
        </td>
        <td>                        
            @Html.ActionLink("Delete", "Delete", new { id=item.salesTeamMemberUid })
        </td>
    </tr>
}

</table>
