@model IEnumerable<JCIEstimate.Models.ProjectToDo>

@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 50, defaultSort: "ECM.ecmString");
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToDoStatu.toDoStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectToDo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectToDoDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateResolved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToDoStatu.toDoStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectToDo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectToDoDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateResolved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.projectToDoUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.projectToDoUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.projectToDoUid })
        </td>
    </tr>
}

</table>
