@model JCIEstimate.Models.WarrantyNote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WarrantyNote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.warrantyNote1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warrantyNote1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyIssue.warrantyIssueLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyIssue.warrantyIssueLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.warrantyNoteUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
