@model IEnumerable<JCIEstimate.Models.UserExpense>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userExpense1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserExpenseStatu.userExpenseStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserExpenseType.UserExpenseType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userExpense1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserExpenseStatu.userExpenseStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserExpenseType.UserExpenseType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userExpenseUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.userExpenseUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userExpenseUid })
        </td>
    </tr>
}

</table>
