@model JCIEstimate.Models.ExpenseMonthly

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpenseMonthly</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.expenseMonthly1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expenseMonthly1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expenseMonthlyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expenseMonthlyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ratePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ratePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daysPerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daysPerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectDurationInMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectDurationInMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.project1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.project1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.expenseMonthlyUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
