@model IEnumerable<JCIEstimate.Models.ExpenseMonthly>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.expenseMonthly1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expenseMonthlyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expenseTypeUid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostCode.costCode1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ratePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.daysPerMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectDurationInMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.expenseMonthly1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expenseMonthlyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseType.expenseType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCode.costCode1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ratePerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daysPerMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectDurationInMonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.expenseMonthlyUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.expenseMonthlyUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.expenseMonthlyUid })
        </td>
    </tr>
}

</table>
