@model JCIEstimate.Models.ECM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ECM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ecmNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ecmNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ecmDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ecmDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ecmString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ecmString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectLineOfWork.projectLineOfWorkUid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectLineOfWork.projectLineOfWorkUid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ecmUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
