@model JCIEstimate.Models.ContractorDraw

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Contractor Draw</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.contractorDrawUid)
        @Html.HiddenFor(model => model.contractorUid)
        @Html.HiddenFor(model => model.projectUid)

        <div class="form-group">
            @Html.LabelFor(model => model.projectUid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Project.project1
                @Html.ValidationMessageFor(model => model.projectUid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contractorUid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Contractor.contractorName
                @Html.ValidationMessageFor(model => model.contractorUid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.dateCreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateCreated, "", new { @class = "text-danger" })
            </div>
        </div>
        <h4>Draw Schedule</h4>
        <div class="form-group">        
            <table class="table">
                <tr>
                    <th>Total</th>
                    <th><span id="runningTotal">@String.Format("{0:C0}", ViewBag.runningTotal)</span></th>
                </tr>
                <tr>
                    <th>Period</th>
                    <th>Amount</th>
                </tr>

                @foreach (var item in ViewBag.drawSchedules)
                {
                    <tr>
                        <td>
                            @Convert.ToDateTime(item.ContractorDraw.Project.startDate).AddMonths(item.drawPeriod).ToString("MM-yyyy")
                        </td>
                        <td>                            
                            $<input class="contractorSchedule" type="text" name="@item.contractorDrawScheduleUid" value="@item.amount" />
                        </td>
                    </tr>
                }
                <tr>
                    <th>Total</th>
                    <th><span id="runningTotal">@String.Format("{0:C0}", ViewBag.runningTotal)</span></th>
                </tr>
            </table>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
