@model IEnumerable<JCIEstimate.Models.ProjectMilestoneAction>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectMilestone.projectMilestone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectMilestoneAction1)
        </th>
        <th width="100px">
            @Html.DisplayNameFor(model => model.plannedStartDate)
        </th>
        <th width="100px">
            @Html.DisplayNameFor(model => model.actualStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th width="100px">
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.listOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assignedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isRollingUp)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr @((item.isRollingUp == true) ? "style=background-color:beige;":"")>
        <td>
            @if (item.ProjectMilestone.projectMilestone1.Length < 20)
            {
                @item.ProjectMilestone.projectMilestone1
            }
            else
            {
                @item.ProjectMilestone.projectMilestone1
            }                
        </td>
        <td>
            @if (item.projectMilestoneAction1.Length < 30)
            {
                @item.projectMilestoneAction1
            }
            else
            {                
                @item.projectMilestoneAction1
            }            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plannedStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actualStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assignedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isRollingUp)
        </td>
        <td>
            <a href="@Url.Action("Edit", "ProjectMilestoneActions", new { id = item.projectMilestoneActionUid})"><img src="@Url.Content("~/Images/edit.png")" height="15" width="15" alt="Click to Edit" title="Click to Edit" /></a>
            <a href="@Url.Action("Details", "ProjectMilestoneActions", new { id = item.projectMilestoneActionUid})"><img src="@Url.Content("~/Images/View_Details.png")" height="15" width="15" alt="Click to Edit" title="Click For Details" /></a>
            <a href="@Url.Action("Delete", "ProjectMilestoneActions", new { id = item.projectMilestoneActionUid})"><img src="@Url.Content("~/Images/delete-icon.png")" height="15" width="15" alt="Click to Edit" title="Click to Delete" /></a>
        </td>
    </tr>
}

</table>
