<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bernservices</title>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/JCIEstimate")    
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")        
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")    
</head>
<body>
    <div class="navbar navbar-inverse navbar-form">
        <div class="container">
            <div class="navbar-header">                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") ) {
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">System Admin</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Roles Admin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin")</li>
                            <li>@Html.ActionLink("To Do Status", "Index", "ToDoStatus")</li>
                            <li>@Html.ActionLink("To Do List", "Index", "ProjectToDoes")</li>                            
                            <li>@Html.ActionLink("Mass Email", "MassEmail", "UsersAdmin")</li>
                            <li class="divider"></li>                            
                            <li>@Html.ActionLink("App Data Types", "Index", "AppDataTypes")</li>
                            <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                            <li>@Html.ActionLink("Misc Expenses", "Index", "ExpenseMiscellaneous")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Estimate Status", "Index", "EstimateStatus")</li>
                            <li>@Html.ActionLink("Estimate Option", "Index", "EstimateOptions")</li>
                            <li>@Html.ActionLink("Warranty Status", "Index", "WarrantyStatus")</li>
                            <li>@Html.ActionLink("Equipment Tasks", "Index", "EquipmentTasks")</li>
                            <li>@Html.ActionLink("Expense Types", "Index", "ExpenseTypes")</li>
                            <li>@Html.ActionLink("Project Attachment Types", "Index", "ProjectAttachmentTypes")</li>
                            <li>@Html.ActionLink("Equipment Types", "Index", "EquipmentTypes")</li>
                            <li>@Html.ActionLink("Equipment Attribute Type", "Index", "EquipmentAttributeTypes")</li>
                            <li>@Html.ActionLink("Equipment Attribute Type Tasks", "Index", "EquipmentAttributeTypeTasks")</li>
                            <li>@Html.ActionLink("Equipment Note Types", "Index", "EquipmentNoteTypes")</li>
                            <li>@Html.ActionLink("RFI Types", "Index", "RFITypes")</li>
                            <li>@Html.ActionLink("RFI Satus", "Index", "RFIStatus")</li>
                            <li>@Html.ActionLink("Intervals", "Index", "Intervals")</li>
                            <li>@Html.ActionLink("Shifts", "Index", "Shifts")</li>
                            <li>@Html.ActionLink("Heat Types", "Index", "HeatTypes")</li>
                            <li>@Html.ActionLink("Control Types", "Index", "ControlTypes")</li>
                            <li>@Html.ActionLink("Equipment Condition", "Index", "EquipmentConditions")</li>
                            <li>@Html.ActionLink("Completion Categories", "Index", "CompletionCategories")</li>
                            <li>@Html.ActionLink("Weeks", "Index", "Weeks")</li>
                            <li>@Html.ActionLink("PEC Tasks", "Index", "PECTasks")</li>
                            <li>@Html.ActionLink("PEC Expense Types", "Index", "PECExpenseTypes")</li>                            
                            <li>@Html.ActionLink("Contractor Note Types", "Index", "ContractorNoteTypes")</li>
                            <li>@Html.ActionLink("Contractor Note Status", "Index", "ContractorNoteStatus")</li>
                            <li>@Html.ActionLink("Project Task Categories", "Index", "ProjectTaskCategories")</li>
                            <li>@Html.ActionLink("Project Tasks", "Index", "ProjectTaskPrototypes")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contractors", "Index", "Contractors")</li>
                            <li>@Html.ActionLink("Contractor Users", "Index", "ContractorUsers")</li>
                            <li>@Html.ActionLink("Project Users", "Index", "ProjectUsers")</li>
                            <li>@Html.ActionLink("Warranty Notes", "Index", "WarrantyNotes")</li>
                        </ul>
                    </li>
                    }    

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Calendar</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Calendars", "Index", "Calendars")</li>
                                <li>@Html.ActionLink("Project Calendars", "Index", "ProjectCalendars")</li>
                            </ul>
                        </li>
                    }  

                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project Setup</a>
                            <ul class="dropdown-menu">                                
                                <li>@Html.ActionLink("ECMs", "Index", "ECMs")</li>                                
                                <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                                <li>@Html.ActionLink("Equipment", "Index", "Equipments")</li>                                
                                <li>@Html.ActionLink("Equipment Attribute", "Index", "EquipmentAttributes")</li>                                                                
                                <li>@Html.ActionLink("Equipment Attachment", "Index", "EquipmentAttachments")</li>
                                <li>@Html.ActionLink("Equipment Notes", "Index", "EquipmentNotes")</li>                                
                                <li>@Html.ActionLink("Scope Of Work", "Index", "ScopeOfWorks")</li>                                
                                <li>@Html.ActionLink("Project Addendums", "Index", "ProjectAddendums")</li>
                                <li>@Html.ActionLink("Report Definition", "Index", "ReportDefinitions")</li>
                                <li class="divider"></li>                                
                                <li>@Html.ActionLink("Master Schedules", "Index", "MasterSchedules")</li>                                                                              
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Construction Expenses", "Index", "ExpenseConstructions")</li>
                                <li>@Html.ActionLink("Construction Expense Draws", "Index", "ExpenseConstructionDraws")</li>
                                <li>@Html.ActionLink("Percentage Expenses", "Index", "ExpensePercentages")</li>
                                <li>@Html.ActionLink("Monthly Expenses", "Index", "ExpenseMonthlies")</li>
                                <li>@Html.ActionLink("Misc Expenses For Project", "Index", "ExpenseMiscellaneousProjects")</li>
                                <li>@Html.ActionLink("PEC Costs", "Index", "PECCosts")</li>
                                <li>@Html.ActionLink("Equipment Type Task Assignments", "Index", "EquipmentTypeTaskAssignments")</li>
                                <li>@Html.ActionLink("Project Task List", "Index", "ProjectTaskLists")</li>

                                <li class="divider"></li>
                                <li>@Html.ActionLink("Warranty Units", "Index", "WarrantyUnits")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Report -- ECM List", "GetECMList", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Location List", "GetLocationList", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Active Estiamtes", "GetActiveEstimates", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Draw Schedules", "GetDrawSchedules", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Estimate Comparison", "GetEstimateComparison", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Estimate Comparison - Active Bids", "GetEstimateComparisonActive", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Scope Of Work Equipment List", "GetScopeOfWorkMaster", "Reports")</li>                               
                                
                            </ul>
                        </li>
                    }                          
                    
                    @if (Request.IsAuthenticated && User.IsInRole("Sales"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales</a>
                            <ul class="dropdown-menu">                                
                                <li>@Html.ActionLink("Sales Opportunities", "Index", "SalesOpportunities")</li>
                                <li>@Html.ActionLink("Sales Opportunity Task Summary", "SalesOpportunityTaskSummary", "SalesOpportunities")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Sales Teams", "Index", "SalesTeams")</li>
                                <li>@Html.ActionLink("Sales Team Members", "Index", "SalesTeamMembers")</li>
                                <li>@Html.ActionLink("Milestones", "Index", "Milestones")</li>
                                <li>@Html.ActionLink("Opportunities", "Index", "Opportunities")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Sales Opportunities", "Index", "SalesOpportunities")</li>
                                <li>@Html.ActionLink("Sales Opportunity Task Summary", "SalesOpportunityTaskSummary", "SalesOpportunities")</li>
                                
                                @*<li>@Html.ActionLink("Sales Opportunity Milestones", "Index", "SalesOpportunityMilestones")</li>
                                <li>@Html.ActionLink("Sales Opportunity Tasks", "Index", "SalesOpportunityTasks")</li>*@
                            </ul>
                        </li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contractor</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Scope Of Work", "Index", "ScopeOfWorks")</li>                                  
                                <li>@Html.ActionLink("Site Plans", "Index", "ProjectAttachments")</li>
                                <li>@Html.ActionLink("RFIs", "Index", "ProjectRFIs")</li>            
                                <li>@Html.ActionLink("Bid Proposals", "Index", "Estimates")</li>                                
                                <li>@Html.ActionLink("Inclusions, Exclusions, Assumptions", "Index", "ContractorNotes")</li>
                                <li>@Html.ActionLink("Contractor Draw", "Index", "ContractorDraws")</li>                                 
                                <li>@Html.ActionLink("Contractor Schedules", "Index", "ContractorSchedules")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Report -- Bid Summary", "getContractorSummary", "Reports")</li>                                
                                <li>@Html.ActionLink("Report -- Equipment List by ECM", "GetEquipmentForECM", "Reports")</li>
                                <li>@Html.ActionLink("Report -- New Equipment", "GetEquipmentForECMToPurchase", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Equipment Detail", "GetEquipmentDetailMaster", "Reports")</li>
                                <li class="divider"></li>
                                <li><a href="/ContractorSignoffs/Index">View signed proposals</a></li>
                                <li>@Html.ActionLink("Generate Signoffs", "GenerateSignoff", "ContractorSignoffFinals")</li>
                                <li><a href="/ContractorSignoffFinals/Index">View signed final proposals</a></li>
                            </ul>
                        </li>
                    }                    
                    @if (Request.IsAuthenticated && User.IsInRole("Contractor") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contractor</a>
                            <ul class="dropdown-menu">
                                @*<li>@Html.ActionLink("Contacts", "Index", "ContractorContacts")</li>
                                <li>@Html.ActionLink("Email Addresses", "Index", "Eddresses")</li>*@
                                @*<li class="divider"></li>*@
                                <li>@Html.ActionLink("Scope Of Work", "Index", "ScopeOfWorks")</li>  
                                <li>@Html.ActionLink("Site Plans", "Index", "ProjectAttachments")</li>
                                <li>@Html.ActionLink("RFIs", "Index", "ProjectRFIs")</li>
                                <li>@Html.ActionLink("Bid Proposals", "Index", "Estimates")</li>                                
                                <li>@Html.ActionLink("Inclusions, Exclusions, Assumptions", "Index", "ContractorNotes")</li>
                                <li>@Html.ActionLink("Sign Proposal", "ContractorSignoff", "ContractorSignoffs")</li>
                                <li><a href="/ContractorSignoffs/Index">View signed proposals</a></li>                                
                                <li><a href="/ContractorSignoffFinals/Index">View JCI Accepted Proposal</a></li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Report -- ECM List", "GetECMList", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Location List", "GetLocationList", "Reports")</li>
                                <li>@Html.ActionLink("Equipment", "Index", "Equipments")</li>                            
                                <li>@Html.ActionLink("Contractor Draw", "Index", "ContractorDraws")</li>                 
                                <li>@Html.ActionLink("Contractor Schedules", "Index", "ContractorSchedules")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Report -- Bid Summary", "getContractorSummary", "Reports")</li>                
                                <li>@Html.ActionLink("Report -- New Equipment", "GetEquipmentForECMToPurchase", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Equipment Detail", "GetEquipmentDetailMaster", "Reports")</li>                                            
                                <li class="divider"></li>
                                
                                
                                
                                
                            </ul>
                        </li>
                    }        
                    @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Warranty")) && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Warranty</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Warranty Issues", "Index", "WarrantyIssues")</li>                                                                                                
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Engineer")) && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Engineer</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create JCI Tag", "EngineerCreate", "Equipments")</li>
                                <li>@Html.ActionLink("Add Pictures", "AddPicturesForEquipment", "Equipments")</li>
                                <li>@Html.ActionLink("Equipment Grid", "GridEdit", "Equipments")</li>
                                <li>@Html.ActionLink("Location Completion Grid", "Edit", "LocationCompletionCategories")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project Manager</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Project Manager Attachments", "Index", "ProjectManagerAttachments")</li>
                                <li><a href="/ContractorSignoffs/Index">View signed proposals</a></li>
                            </ul>
                        </li>
                    }                    
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Category and ECM By Contractor", "GetCategoryECMByContractor", "Reports")</li>
                                <li>@Html.ActionLink("Vert Bar Graph Summary", "GetBarGraphSummary", "Reports")</li>
                                <li>@Html.ActionLink("Bid Summary", "GetBidSummary", "Reports")</li>
                                <li>@Html.ActionLink("Project Grand Totals", "GetProjectGrandTotal", "Reports")</li>
                            </ul>
                        </li>
                    }
                    
                    @if (Request.IsAuthenticated && User.IsInRole("Project Manager") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project Setup</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("ECM Updates", "Index", "ECMs")</li>
                                <li>@Html.ActionLink("Location Updates", "Index", "Locations")</li>
                                <li>@Html.ActionLink("Equipment List", "Index", "Equipments")</li>
                                <li>@Html.ActionLink("Scope Of Work", "Index", "ScopeOfWorks")</li>
                                <li>@Html.ActionLink("Addendums", "Index", "ProjectAddendums")</li>
                                <li>@Html.ActionLink("Monthly Expenses", "Index", "ExpenseMonthlies")</li>
                                <li>@Html.ActionLink("Project Tasks", "Index", "ProjectTaskPrototypes")</li>
                                <li>@Html.ActionLink("Report -- ECM List", "GetECMList", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Location List", "GetLocationList", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Estimate Comparison", "GetEstimateComparison", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Estimate Comparison - Active Bids", "GetEstimateComparisonActive", "Reports")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Project Manager") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contractor</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Scope Of Work", "Index", "ScopeOfWorks")</li>
                                <li>@Html.ActionLink("Site Plans", "Index", "ProjectAttachments")</li>
                                <li>@Html.ActionLink("RFIs", "Index", "ProjectRFIs")</li>            
                                <li>@Html.ActionLink("Bid Proposals", "Index", "Estimates")</li>                                
                                <li>@Html.ActionLink("Inclusions, Exclusions, Assumptions", "Index", "ContractorNotes")</li>
                                <li>@Html.ActionLink("Report -- Bid Summary", "getContractorSummary", "Reports")</li>                                
                                <li>@Html.ActionLink("Report -- Equipment List by ECM", "GetEquipmentForECM", "Reports")</li>
                                <li>@Html.ActionLink("Report -- New Equipment", "GetEquipmentForECMToPurchase", "Reports")</li>
                                <li>@Html.ActionLink("Report -- Equipment Detail", "GetEquipmentDetailMaster", "Reports")</li>
                            </ul>
                        </li>
                    }
                @if (Request.IsAuthenticated && User.IsInRole("Project Manager") && Session["projectUid"] != null)
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Engineer</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create JCI Tag", "EngineerCreate", "Equipments")</li>
                            <li>@Html.ActionLink("Add Pictures", "AddPicturesForEquipment", "Equipments")</li>
                            <li>@Html.ActionLink("Equipment Grid", "GridEdit", "Equipments")</li>
                            <li>@Html.ActionLink("Location Completion Grid", "Edit", "LocationCompletionCategories")</li>
                        </ul>
                    </li>
                    }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>    
    <div class="container body-content" style="text-align:center;width:100%">
        @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["bidTotal"] != null)
        {
            <ul class="nav navbar-nav navbar-left">
                <li><a style="color:black; font-weight:500">Bid Total: <span id="bidTotalSpan">@String.Format("{0:C0}", Session["bidTotal"])</span></a></li>
                <li><a style="color:black; font-weight:500">Active Total: <span id="activeTotalSpan">@String.Format("{0:C0}", Session["activeTotal"])</span></a></li>
            </ul>
            
        }
        <div id="errorDiv" class="alert-danger">@Html.Raw((Session["error"] != null ? Session["error"].ToString() : ""))</div>
        @(Session["error"] = "")
        <ul class="nav navbar-nav navbar-right">
            @if (Request.IsAuthenticated && (!(this.Request.Url.AbsolutePath.Equals("/") || this.Request.Url.AbsolutePath.Equals("/Home"))))
            {
                if (Session["projectName"] != null)
                {
                    <li style="font-size:large;">@Html.ActionLink("Active Project: " + Session["projectName"].ToString(), "Index", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Choose Project", "Index", "Home")</li>
                }
            }
        </ul>
    </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - BBConsulting</p>
            </footer>
        </div>
        @RenderSection("scripts", required: false)
    <div class="modal"><!-- Place at bottom of page --></div>
</body>
</html>
