<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JCI Estimate</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Choose Project", "Index", "Home")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") ) {
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                        <ul class="dropdown-menu">                            
                            <li>@Html.ActionLink("Roles Admin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin")</li>                  
                            <li>@Html.ActionLink("Estimate Status", "Index", "EstimateStatus")</li>          
                        </ul>
                    </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">System Setup</a>
                        <ul class="dropdown-menu">                            
                            <li>@Html.ActionLink("Contractors", "Index", "Contractors")</li>
                            <li>@Html.ActionLink("Contractor Users", "Index", "ContractorUsers")</li>                                                        
                            <li>@Html.ActionLink("Categories", "Index", "Categories")</li>                            
                            <li>@Html.ActionLink("Lines Of Work", "Index", "LineOfWorks")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project Setup</a>
                        <ul class="dropdown-menu">                            
                            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>                            
                            <li>@Html.ActionLink("Projects Lines Of Work", "Index", "ProjectLineOfWorks")</li>
                            <li>@Html.ActionLink("Locations", "Index", "Locations")</li>                            
                            <li>@Html.ActionLink("ECMs", "Index", "ECMs")</li>
                        </ul>
                    </li>                        
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contractor</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Contractor Contacts", "Index", "ContractorContacts")</li>
                                <li>@Html.ActionLink("Contractor Contact Eddresses", "Index", "Eddresses")</li>
                                <li>@Html.ActionLink("Estimates", "Index", "Estimates")</li>
                            </ul>
                        </li>
                    }                    
                    @if (Request.IsAuthenticated && User.IsInRole("Contractor") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contractor</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Contractor Contacts", "Index", "ContractorContacts")</li>
                                <li>@Html.ActionLink("Contractor Contact Eddresses", "Index", "Eddresses")</li>
                                <li>@Html.ActionLink("Estimates", "Index", "Estimates")</li>
                            </ul>
                        </li>
                    }                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JCI Estimate</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
