<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bernservices</title>
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/JCIEstimate")    
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") ) {
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">System Admin</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Roles Admin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin")</li>
                            <li>@Html.ActionLink("To Do Status", "Index", "ToDoStatus")</li>
                            <li>@Html.ActionLink("To Do List", "Index", "ProjectToDoes")</li>
                            <li class="divider"></li>                            
                            <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                            <li>@Html.ActionLink("Misc Expenses", "Index", "ExpenseMiscellaneous")</li>
                            <li>@Html.ActionLink("Milestones", "Index", "Milestones")</li>
                            <li>@Html.ActionLink("Milestone Actions", "Index", "MilestoneActions")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Estimate Status", "Index", "EstimateStatus")</li>
                            <li>@Html.ActionLink("Warranty Status", "Index", "WarrantyStatus")</li>
                            <li>@Html.ActionLink("Equipment Tasks", "Index", "EquipmentTasks")</li>
                            <li>@Html.ActionLink("Equipment Types", "Index", "EquipmentTypes")</li>
                            <li>@Html.ActionLink("Intervals", "Index", "Intervals")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contractors", "Index", "Contractors")</li>
                            <li>@Html.ActionLink("Contractor Users", "Index", "ContractorUsers")</li>
                            <li>@Html.ActionLink("Project Users", "Index", "ProjectUsers")</li>
                            <li>@Html.ActionLink("Warranty Notes", "Index", "WarrantyNotes")</li>
                        </ul>
                    </li>
                    }    
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project Setup</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("ECMs", "Index", "ECMs")</li>
                                <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                                <li>@Html.ActionLink("Equipment", "Index", "Equipments")</li>
                                <li>@Html.ActionLink("Scope Of Work", "Index", "ScopeOfWorks")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Construction Expenses", "Index", "ExpenseConstructions")</li>
                                <li>@Html.ActionLink("Percentage Expenses", "Index", "ExpensePercentages")</li>
                                <li>@Html.ActionLink("Monthly Expenses", "Index", "ExpenseMonthlies")</li>
                                <li>@Html.ActionLink("Misc Expenses For Project", "Index", "ExpenseMiscellaneousProjects")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Warranty Units", "Index", "WarrantyUnits")</li>
                            </ul>
                        </li>
                    }                          
                    
                    @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Sales") ) && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales</a>
                            <ul class="dropdown-menu">                                
                                <li>@Html.ActionLink("Project Milestones", "Index", "ProjectMilestones")</li>
                                <li>@Html.ActionLink("Project Milestone Actions", "Index", "ProjectMilestoneActions")</li>
                                <li class="divider"></li>                                
                                <li>@Html.ActionLink("Report -- Milestone Actions", "GetProjectMilestoneActions", "Reports")</li>
                            </ul>
                        </li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contractor</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Contacts", "Index", "ContractorContacts")</li>
                                <li>@Html.ActionLink("Email Addresses", "Index", "Eddresses")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Scope Of Work", "Index", "ScopeOfWorks")</li>  
                                <li>@Html.ActionLink("Estimates", "Index", "Estimates")</li>                                
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Estimate Inclusions", "Index", "EstimateInclusions")</li>
                                <li>@Html.ActionLink("Estimate Inclusion Responses", "Index", "EstimateInclusionResponses")</li>
                                <li>@Html.ActionLink("Estimate Exclusions", "Index", "EstimateExclusions")</li>
                                <li>@Html.ActionLink("Estimate Exclusion Responses", "Index", "EstimateExclusionResponses")</li>
                                <li>@Html.ActionLink("Estimate Exceptions", "Index", "EstimateExceptions")</li>
                                <li>@Html.ActionLink("Estimate Exception Responses", "Index", "EstimateExceptionResponses")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Bid Summary", "getContractorSummary", "Reports")</li>
                            </ul>
                        </li>
                    }                    
                    @if (Request.IsAuthenticated && User.IsInRole("Contractor") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contractor</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Contacts", "Index", "ContractorContacts")</li>
                                <li>@Html.ActionLink("Email Addresses", "Index", "Eddresses")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Scope Of Work", "Index", "ScopeOfWorks")</li>  
                                <li>@Html.ActionLink("Estimates", "Index", "Estimates")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Estimate Inclusions", "Index", "EstimateInclusions")</li>
                                <li>@Html.ActionLink("Estimate Inclusion Responses", "Index", "EstimateInclusionResponses")</li>
                                <li>@Html.ActionLink("Estimate Exclusions", "Index", "EstimateExclusions")</li>
                                <li>@Html.ActionLink("Estimate Exclusion Responses", "Index", "EstimateExclusionResponses")</li>
                                <li>@Html.ActionLink("Estimate Exceptions", "Index", "EstimateExceptions")</li>
                                <li>@Html.ActionLink("Estimate Exception Responses", "Index", "EstimateExceptionResponses")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Bid Summary", "getContractorSummary", "Reports")</li>                
                            </ul>
                        </li>
                    }        
                    @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Warranty")) && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Warranty</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Warranty Issues", "Index", "WarrantyIssues")</li>                                                                                                
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["projectUid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Category and ECM By Contractor", "GetCategoryECMByContractor", "Reports")</li>
                                <li>@Html.ActionLink("Vert Bar Graph Summary", "GetBarGraphSummary", "Reports")</li>
                                <li>@Html.ActionLink("Bid Summary", "GetBidSummary", "Reports")</li>
                                <li>@Html.ActionLink("Project Grand Totals", "GetProjectGrandTotal", "Reports")</li>
                            </ul>
                        </li>
                    }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>    
    <div class="container body-content" style="text-align:center;width:100%">
        @if (Request.IsAuthenticated && User.IsInRole("Admin") && Session["bidTotal"] != null)
        {
            <ul class="nav navbar-nav navbar-left">
                <li><a style="color:black; font-weight:500">Bid Total: @String.Format("{0:C0}", Session["bidTotal"])</a></li>
                <li><a style="color:black; font-weight:500">Active Total: @String.Format("{0:C0}", Session["activeTotal"])</a></li>
            </ul>
            
        }
        <div id="errorDiv" class="alert-danger">@Html.Raw((Session["error"] != null ? Session["error"].ToString() : ""))</div>
        @(Session["error"] = "")
        <ul class="nav navbar-nav navbar-right">
            @if (Request.IsAuthenticated && (!(this.Request.Url.AbsolutePath.Equals("/") || this.Request.Url.AbsolutePath.Equals("/Home"))))
            {
                if (Session["projectName"] != null)
                {
                    <li style="font-size:large;">@Html.ActionLink("Active Project: " + Session["projectName"].ToString(), "Index", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Choose Project", "Index", "Home")</li>
                }
            }
        </ul>
    </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - BBConsulting</p>
            </footer>
        </div>
        @RenderSection("scripts", required: false)
</body>
</html>
