@model JCIEstimate.Models.ExpenseConstructionDraw

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpenseConstructionDraw</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseConstruction.expenseConstruction1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseConstruction.expenseConstruction1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.project1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.project1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.expenseConstructionDrawUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
