@model IEnumerable<JCIEstimate.Models.ExpenseConstructionDraw>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseType.expenseType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.project1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseType.expenseType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.project1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.expenseConstructionDrawUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.expenseConstructionDrawUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.expenseConstructionDrawUid })
        </td>
    </tr>
}

</table>
