@model IEnumerable<JCIEstimate.Models.ContractorUser>

@{
    ViewBag.Title = "Contractor User";
}

<h2>Contractor User</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.contractorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.contractorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contractorUserUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.contractorUserUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contractorUserUid })
        </td>
    </tr>
}

</table>
