@model JCIEstimate.Models.EquipmentTypeTaskAssignment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EquipmentTypeTaskAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor.contractorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.contractorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor1.contractorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor1.contractorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECM.ecmDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECM.ecmDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentAttributeTypeTask.equipmentAttributeTypeTask1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentAttributeTypeTask.equipmentAttributeTypeTask1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.location1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.location1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
