@model IEnumerable<JCIEstimate.Models.EquipmentTask>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentAttributeType.equipmentAttributeType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipmentTask1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipmentTaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.behaviorIndicator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentAttributeType.equipmentAttributeType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentTask1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentTaskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.behaviorIndicator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.equipmentTaskUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.equipmentTaskUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.equipmentTaskUid })
        </td>
    </tr>
}

</table>
