@model IEnumerable<JCIEstimate.Models.ExpenseConstruction>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.expenseConstruction1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expenseConstructionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expenseTypeUid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostCode.costCode1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interval.interval1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.expenseConstruction1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expenseConstructionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseType.expenseType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCode.costCode1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interval.interval1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.expenseConstructionUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.expenseConstructionUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.expenseConstructionUid })
        </td>
    </tr>
}

</table>
