@model IEnumerable<JCIEstimate.Models.Opportunity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.opportunity1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opportunityDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectedProjectSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.opportunity1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opportunityDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectedProjectSize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.opportunityUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.opportunityUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.opportunityUid })
        </td>
    </tr>
}

</table>
