@model JCIEstimate.Models.ExpenseTravel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpenseTravel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Project.project1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.project1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.expenseTravel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expenseTravel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expenseTravelDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expenseTravelDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interval.interval1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interval.interval1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.expenseTravelUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
