@model JCIEstimate.Models.Project

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.projectUid)

        <div class="form-group">
            @Html.LabelFor(model => model.project1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.project1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.project1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.projectDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.projectDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.projectDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">
                Select Expenses
            </label>
            <div class="col-md-10">
                @foreach (var item in (SelectList)ViewBag.expenseList)
                {
                    string chked = "";
                    if (ViewBag.expenseList.SelectedValue.Contains(item.Value))
                    {
                        chked = "checked";
                    }
                    <input type="checkbox" name="SelectedExpenses" value="@item.Value" @chked class="checkbox-inline" />
                    @Html.Label(item.Text, new { @class = "control-label" })
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
