@model JCIEstimate.Models.Project

@{
    ViewBag.Title = "Choose Project";
}

<div class="jumbotron">
    <h1>JCI Services</h1>    
</div>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p></p>
@using (Html.BeginForm("SetProject", "Projects"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.projectUid, "Choose Project", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">            
            @Html.DropDownList("projectUid", null, new { @class = "form-control", @onChange = "this.form.submit();" })
            @Html.ValidationMessageFor(model => model.projectUid, "", new { @class = "text-danger" })
        </div>
    </div>
}
