@model JCIEstimate.Models.ProjectCalendar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectCalendar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.projectCalendar1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectCalendar1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.projectCalendarUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
