@model JCIEstimate.Models.MasterScheduleTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MasterScheduleTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.taskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterSchedule.masterSchedule1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterSchedule.masterSchedule1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterScheduleTask2.taskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterScheduleTask2.taskName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.masterScheduleTaskUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
