@model IEnumerable<JCIEstimate.Models.Milestone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.milestone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.milestoneDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.defaultListOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.milestoneUid })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.milestone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.milestoneDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.defaultListOrder)
        </td>
        <td>                        
            @Html.ActionLink("Delete", "Delete", new { id=item.milestoneUid })
        </td>
    </tr>
}

</table>
