@model IEnumerable<JCIEstimate.Models.EquipmentTaskDetailItem>

@{
    ViewBag.Title = "EditList";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentToDo.EquipmentTask.equipmentTask1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentTaskDetail.equipmentTaskDetail1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.contractorName)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentToDo.EquipmentTask.equipmentTask1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentTaskDetail.equipmentTaskDetail1)
        </td>
        <td>            
            @{
    var assignedContractorID = "contractor_" + item.equipmentTaskDetailItemUid;
    var assignedStartDateID = "startDate_" + item.equipmentTaskDetailItemUid;
    var assignedEndDateID = "endDate_" + item.equipmentTaskDetailItemUid;
            }
            
            <select id="@assignedContractorID" class="equipmentTaskDetailItemGrid">
                @foreach (var cItem in ViewBag.contractorUidAsAssigned)
                {
                    <option @(cItem.Value == item.contractorUidAsAssigned.ToString() ? "selected" : "") value="@cItem.Value">@cItem.Text</option>
                }
            </select>
        </td>
        <td>
            <input type="text" name="startDate" id="@assignedStartDateID" value="@String.Format("{0:MM/dd/yyyy}", item.startDate)" class="equipmentTaskDetailItemGrid" />
        </td>
        <td>
            <input type="text" name="endDate" id="@assignedEndDateID" value="@String.Format("{0:MM/dd/yyyy}", item.endDate)" class="equipmentTaskDetailItemGrid" />
        </td>
    </tr>
}

</table>

<div>    
    @Html.ActionLink("Back to List", "GridEdit", "Equipments" )
</div>