@model JCIEstimate.Models.Equipment

@{
    ViewBag.Title = "Add Pictures";
}

<h2>Add Pictures</h2>

@using (Html.BeginForm("AddPicturesForEquipment", "Equipments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(c=>c.equipmentUid)
    
    <p>
        @ViewBag.result
    </p>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        

        <div class="form-group">
            <div ><b>Search using JCI Tag</b></div>
            <div class="col-md-10">
                <input type="text" id="jciTag" name="jciTag" value="" class="form-control" />
                <input id="btnJCITagSearch" type="button" value="Search" class="btn btn-default" />                
            </div>
        </div>
        <div id="dvPossibleMatches">

        </div>
        @if (Model != null) { 
        <table class="table">
            <tr>
                <td>
                    JCITag
                </td>
                <td>
                    Owner Tag
                </td>
                <td>
                    Equipment Type
                </td>
                <td>
                    Location
                </td>
                <td>
                    Control Type
                </td>
                <td>
                    Model
                </td>
                <td>
                    Serial Number
                </td>
            </tr>    
                <tr>
                    <td>
                        @String.Format("{0:############}", Model.jciTag)
                    </td>
                    <td>
                        @Model.ownerTag
                    </td>
                    <td>
                        @Model.EquipmentAttributeType.equipmentAttributeType1
                    </td>
                    <td>
                        @Model.Location.location1
                    </td>
                    <td>
                        @((Model.ControlType != null) ? Model.ControlType.controlType1 : "")
                    </td>
                    <td>
                        @Model.model
                    </td>
                    <td>
                        @Model.serialNumber
                    </td>
                </tr>    
            </table>
        
        <div class="form-group">
            <div>Existing Pictures</div>
            @foreach (var attachment in Model.EquipmentAttachments)
            {
                @attachment.equipmentAttachment1
                <img height="100px" width="100ox" src="@Url.Action("showImage", "Equipments", new { id = attachment.equipmentAttachmentUid })" alt="test" />
            }
            <div>
                <div class="col-md-10">Add Pictures</div>
                <input type="file" name="pics" multiple class="btn btn-default" />                
                <input type="submit" name="submit" value="Upload Pictures" class="btn btn-default" onclick="collectAttributeValues();this.style.visibility = 'hidden'; document.getElementById('loadingMessage').innerHTML = 'loading...';" ondblclick="    this.style.visibility = 'hidden'; document.getElementById('loadingMessage').innerHTML = 'loading...';" />
            </div>
        </div>
            
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
