@model IEnumerable<JCIEstimate.Models.Equipment>

@{
    ViewBag.Title = "Equipment Grid";
}

<h2>Assign Equipment Tasks</h2>

<table>
    <tr>
        <td>
            <select class="equipmentGridFilter" id="equipmentGridFilter" name="equipmentGridFilter">
                @foreach (var item in ViewBag.filterList)
                {
                    <option value="@item.value" @((item.selected) ? "selected" : "")>@item.text</option>
                }
            </select>
        </td>
    </tr>
</table>
<table id="GridTable" class="GridTable">
    <thead>
        <tr>
            <th>
                <span> </span>
            </th>
            @*<th>Replace</th>*@
            @foreach (var item in ViewBag.equipmentTasks)
            {
                <th class="GridTable">@item.equipmentTask1</th>
            }
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="tbEquipment">
        @Html.Partial("GridEditPartial")
    </tbody>
</table>