@model IEnumerable<JCIEstimate.Models.Equipment>

@{
    ViewBag.Title = "Equipment Grid";
}

<h2>Assign Equipment Tasks</h2>
@*<table>
    <tr>
        <td>
            <select class="gridFilter" id="gridFilter" name="gridFilter">
                @foreach (var item in ViewBag.filterList)
                {
                    <option value="@item.value" @((item.selected) ? "selected" : "")>@item.text</option>
                }
            </select>
        </td>
    </tr>
</table>*@
<table id="GridTable" class="GridTable">
    <thead>
        <tr>
            <th>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div><a href="Create"><img src="@Url.Content("/Images/AddItem.png")" height="25px" width="25px" alt="Click to add a new equipment" title="Click to add a new equipment" /></a></div>
                }
            </th>
            @foreach (var item in ViewBag.equipmentTasks)
            {
                <th class="GridTable">@item.equipmentTask1</th>
            }
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.equipment)
        {
            <tr>
                <td class="GridTable"><a href="~/Equipments/Edit/@item.equipmentUid">@item.Location.location1 @item.jciTag @item.model @item.area</a></td>
                @foreach (var task in ViewBag.equipmentTasks)
                {
                    string chked = "";

                    foreach (var toDo in ViewBag.equipmentToDoes)
                    {
                        if (toDo.equipmentUid == item.equipmentUid && toDo.equipmentTaskUid == task.equipmentTaskUid)
                        {
                            chked = "CHECKED";
                        }
                    }
                    <td class="GridTable"><input class="gridCheckBox" type="checkbox" name="@(item.equipmentUid)_@(task.equipmentTaskUid)" @chked /> </td>
                }
                <td class="GridTable">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Delete", "Equipments", new { id = item.equipmentUid })"><img src="@Url.Content("~/Images/delete-icon.png")" height="15" width="15" alt="Click to Delete" title="Click to Delete" /></a>
                    }
                </td>

            </tr>


        }
    </tbody>
</table>