@model IEnumerable<JCIEstimate.Models.Equipment>
@foreach (var item in ViewBag.equipment)
{
    <tr>
        <td class="GridTable"><a href="~/Equipments/Edit/@item.equipmentUid?returnURL=GridEdit">@((item.ECM != null) ? item.ECM.ecmNumber : "" ) - @item.Location.location1 - @item.jciTag - @item.EquipmentAttributeType.equipmentAttributeType1 - @Convert.ToDateTime(item.installDate).Year</a></td>                
        @*<td>
            @if (item.equipmentUidAsReplaced == null)
            {
                <a href="~/Equipments/Create?returnURL=GridEdit&equipmentUidAsReplaced=@item.equipmentUid"><img src="~/Images/AddItem.png" height="15" width="15" alt="Add Replacement" /></a>
            }
            else
            {
                <input type="checkbox" name="@item.equipmentUid" class="chkEngineerUseReplacement" @((item.useReplacement) ? "CHECKED" : "") />
            }
            
        </td>*@        
        @foreach (var task in item.EquipmentAttributeType.EquipmentTasks)
        {
            string chked = "";
            chked = item.isTaskForEquipment(task.equipmentTaskUid);
            <td class="GridTable"><table class="table-bordered"><tr><td><a href="@Url.Action("EditList", "EquipmentTaskDetailItems", new { id = item.equipmentUid + "_" + task.equipmentTaskUid })"> @task.equipmentTask1</a></td><td><input class="gridCheckBox" type="checkbox" id="@(item.equipmentUid)_@(task.equipmentTaskUid)" name="@(item.equipmentUid)_@(task.equipmentTaskUid)" @chked /></td></tr></table></td>
        }
        <td class="GridTable">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Delete", "Equipments", new { id = item.equipmentUid })"><img src="@Url.Content("~/Images/delete-icon.png")" height="15" width="15" alt="Click to Delete" title="Click to Delete" /></a>
            }
        </td>

    </tr>


}
