@model IEnumerable<JCIEstimate.Models.Equipment>

@{    
    ViewBag.Title = "Index";
    JCIEstimate.Models.JCIEstimateEntities db = new JCIEstimate.Models.JCIEstimateEntities();
}
<div class="form-group">
    <select class="equipmentFilter" id="equipmentFilter" name="equipmentFilter">
        @foreach (var item in ViewBag.filterList)
        {
            <option value="@item.value" @((item.selected) ? "selected" : "")>@item.text</option>
            if (item.selected)
            {
                Session["sortValue"] = item.value.ToString().Split('|')[1];
                Session["sortType"] = item.value.ToString().Split('|')[0];
            }

        }
    </select>
    <input type="submit" style="display:none;" id="srchJCITag" name="srchJCITag" class="btn-default" value="Search By JCI Tag" /> Search By JCI Tag @Html.TextBox("equipmentFilterJCITag")<br />
</div>
@Html.ActionLink("Export list to excel", "GetEquipmentExport", "Reports")
&nbsp;&nbsp;|&nbsp;&nbsp;
@Html.ActionLink("Get all pictures for the listed equipment", "GetEquipmentPictures", "Equipments", new { filterType = ViewContext.RouteData.Values["filterType"], filterValues = ViewContext.RouteData.Values["filterValue"] })

<p>
    @Html.ActionLink("Create New", "Create")
</p>

   <div id="dvEquipmentData">
    <table id="tblEquipment" class="EquipmentIndexTable">
        <thead>
            <tr style="border-bottom:none;">
                <th style="border-bottom:none;"></th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=Location.location1|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Location" title="click to sort by Location" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "Location.location1|asc")
                    {
                        <a href="/Equipments/Index?sort=Location.location1|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Location descending" title="click to sort by Location" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "Location.location1|desc")
                    {
                        <a href="/Equipments/Index?sort=Location.location1|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Location ascending" title="click to sort by Location" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=Location.location1|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Location" title="click to sort by Location" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @*@if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=isReplaced|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Is Replaced" title="click to sort by Is Replaced" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "isReplaced|asc")
                    {
                        <a href="/Equipments/Index?sort=isReplacedToSite|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Is Replaced descending" title="click to sort by Is Replaced" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "isReplacedToSite|desc")
                    {
                        <a href="/Equipments/Index?sort=isReplacedToSite|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Is Replaced ascending" title="click to sort by Is Replaced" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=isReplaced|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Is Replaced" title="click to sort by Is Replaced" />
                        </a>
                    }*@
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=ECM.ecmString|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by ECM" title="click to sort by ECM" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "ECM.ecmString|asc")
                    {
                        <a href="/Equipments/Index?sort=ECM.ecmString|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by ECM descending" title="click to sort by ECM" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "ECM.ecmString|desc")
                    {
                        <a href="/Equipments/Index?sort=ECM.ecmString|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by ECM ascending" title="click to sort by ECM" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=ECM.ecmString|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by ECM" title="click to sort by ECM" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=jciTag|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by JCI Tag" title="click to sort by JCI Tag" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "jciTag|asc")
                    {
                        <a href="/Equipments/Index?sort=jciTag|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by JCI Tag descending" title="click to sort by JCI Tag" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "jciTag|desc")
                    {
                        <a href="/Equipments/Index?sort=jciTag|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by JCI Tag ascending" title="click to sort by JCI Tag" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=jciTag|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by JCI Tag" title="click to sort by JCI Tag" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=ownerTag|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Owner Tag" title="click to sort by Owner Tag" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "ownerTag|asc")
                    {
                        <a href="/Equipments/Index?sort=ownerTag|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Owner Tag descending" title="click to sort by Owner Tag" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "ownerTag|desc")
                    {
                        <a href="/Equipments/Index?sort=ownerTag|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Owner Tag ascending" title="click to sort by Owner Tag" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=ownerTag|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Owner Tag" title="click to sort by Owner Tag" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=manufacturer|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Manufacturer" title="click to sort by Manufacturer" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "manufacturer|asc")
                    {
                        <a href="/Equipments/Index?sort=manufacturer|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Manufacturer descending" title="click to sort by Manufacturer" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "manufacturer|desc")
                    {
                        <a href="/Equipments/Index?sort=manufacturer|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Manufacturer ascending" title="click to sort by Manufacturer" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=manufacturer|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Manufacturer" title="click to sort by Manufacturer" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=model|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Model" title="click to sort by Model" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "model|asc")
                    {
                        <a href="/Equipments/Index?sort=model|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Model descending" title="click to sort by Model" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "model|desc")
                    {
                        <a href="/Equipments/Index?sort=model|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Model ascending" title="click to sort by Model" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=model|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Model" title="click to sort by Model" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=EquipmentAttributeType.equipmentAttributeType1|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Type" title="click to sort by Type" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "EquipmentAttributeType.equipmentAttributeType1|asc")
                    {
                        <a href="/Equipments/Index?sort=EquipmentAttributeType.equipmentAttributeType1|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Type descending" title="click to sort by Type" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "EquipmentAttributeType.equipmentAttributeType1|desc")
                    {
                        <a href="/Equipments/Index?sort=EquipmentAttributeType.equipmentAttributeType1|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Type ascending" title="click to sort by Type" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=EquipmentAttributeType.equipmentAttributeType1|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Type" title="click to sort by Type" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=installDate|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Install Date" title="click to sort by Install Date" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "installDate|asc")
                    {
                        <a href="/Equipments/Index?sort=installDate|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Install Date descending" title="click to sort by Install Date" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "installDate|desc")
                    {
                        <a href="/Equipments/Index?sort=installDate|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Install Date ascending" title="click to sort by Install Date" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=installDate|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Install Date" title="click to sort by Install Date" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=price|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Price" title="click to sort by Price" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "price|asc")
                    {
                        <a href="/Equipments/Index?sort=price|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Price descending" title="click to sort by Price" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "price|desc")
                    {
                        <a href="/Equipments/Index?sort=price|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Price ascending" title="click to sort by Price" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=price|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Price" title="click to sort by Price" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;">
                    @if (Session["equipmentSort"] == null)
                    {
                        <a href="/Equipments/Index?sort=area|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Area" title="click to sort by Area" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "area|asc")
                    {
                        <a href="/Equipments/Index?sort=area|desc">
                            <img src="~/Images/SortUp.png" height="8px" width="10px" alt="click to sort by Area descending" title="click to sort by Area" />
                        </a>
                    }
                    else if (Session["equipmentSort"].ToString() == "area|desc")
                    {
                        <a href="/Equipments/Index?sort=area|asc">
                            <img src="~/Images/SortDown.png" height="8px" width="10px" alt="click to sort by Area ascending" title="click to sort by Area" />
                        </a>
                    }
                    else
                    {
                        <a href="/Equipments/Index?sort=area|asc">
                            <img src="~/Images/SortArrows.png" height="10px" width="10px" alt="click to sort by Area" title="click to sort by Area" />
                        </a>
                    }
                </th>
                <th style="border-bottom:none;"></th>
                <th style="border-bottom:none;"></th>
                <th style="border-bottom:none;"></th>
            </tr>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)                    
                </th>
                <th>
                    Is Replaced?
                </th>
                <th>
                    ECM
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jciTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ownerTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.model)                    
                </th>
                <th>
                    Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.installDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.area)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var rowColor = item.isNewToSite ? "#ffbbbb" : "#ddffdd";
                <tr style="background-color:@rowColor;">
                    <td>
                        <a href="@Url.Action("Edit", "Equipments", new { id = item.equipmentUid, returnURL = "Index" })"><img src="@Url.Content("~/Images/edit.png")" height="15" width="15" alt="Click to Edit" title="Click to Edit" /></a>
                        @if (item.equipmentUidAsReplaced != null)
                        {
                            <img class="toggleReplacedEquipment" src="@Url.Content("~/Images/replace.png")" alt="Click to see replaced equipment" height="15" width="15" />
                        }
                        <img class="toggleEquipmentTasks" src="@Url.Content("~/Images/tasks.png")" alt="Click to see equipment tasks" height="15" width="15" />
                        <!--<img class="toggleEquipmentAttributes" src="@Url.Content("~/Images/attr.png")" alt="Click to see equipment attributes" height="15" width="15" />-->
                        <span style="display:none">@item.equipmentUid.ToString()</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.location1)
                    </td>
                    <td>                        
                        <span>@((item.isReplaced) ? "Yes" : "No")</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ECM.ecmNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.jciTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ownerTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentAttributeType.equipmentAttributeType1)
                    </td>
                    <td>
                        @String.Format("{0:yyyy}", item.installDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.area)
                    </td>
                    <td>
                        @*<a href="@Url.Action("Details", "Equipments", new { id = item.equipmentUid })"><img src="@Url.Content("~/Images/view_details.png")" height="15" width="15" alt="Click for Details" title="Click for Details" /></a>*@
                        <a href="@Url.Action("Delete", "Equipments", new { id = item.equipmentUid })"><img src="@Url.Content("~/Images/delete-icon.png")" height="15" width="15" alt="Click to Delete" title="Click to Delete" /></a>

                    </td>
                </tr>
                <tr style="border:none;">
                    <td colspan="11" id="tdtasks|@item.equipmentUid.ToString()" style="display:none;border:none;">
                        <table style="border-top:hidden;">
                            <tr>
                                @foreach (var eitem in ViewBag.equipmentTasks)
                                {
                                    <th class="GridTable">@eitem.equipmentTask1</th>
                                }
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                @foreach (var task in ViewBag.equipmentTasks)
                                {
                                    string chked = item.isTaskForEquipment(task.equipmentTaskUid);                                    
                                    <td class="GridTable"><input class="gridCheckBox" type="checkbox" name="@(item.equipmentUid)_@(task.equipmentTaskUid)" @chked /> </td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="border:none;">
                    <td colspan="11" id="tdattr|@item.equipmentUid.ToString()" style="display:none;border:none;">
                        <table style="border-top:hidden;">
                            @{
                                string val = "";
                                foreach (var citem in item.GetAttributesForEquipment())
                                {
                                    <tr>
                                        <td>@citem.equipmentAttribute1</td>
                                        <td>
                                            @if (citem.AppDataType.appDataType1 == "Boolean")
                                            {
                                                if (item.GetEquipmentAttributeValueForEquipmentAttribute(citem.equipmentAttributeUid) != null)
                                                {
                                                    val = (item.GetEquipmentAttributeValueForEquipmentAttribute(citem.equipmentAttributeUid).equipmentAttributeValue1) == "true" ? "CHECKED" : "";                                                    
                                                }                                                
                                                <input class="equipmentAttributeValue" @val type="checkbox" name="@citem.equipmentAttributeUid.ToString()|@item.equipmentUid.ToString()" id="@citem.equipmentAttributeUid.ToString()|@item.equipmentUid.ToString()" />
                                            }
                                            else
                                            {
                                                if (item.GetEquipmentAttributeValueForEquipmentAttribute(citem.equipmentAttributeUid) != null)
                                                {
                                                    val = item.GetEquipmentAttributeValueForEquipmentAttribute(citem.equipmentAttributeUid).equipmentAttributeValue1;
                                                }                                                
                                                <input class="equipmentAttributeValue" type="text" name="@citem.equipmentAttributeUid.ToString()|@item.equipmentUid.ToString()" id="@citem.equipmentAttributeUid.ToString()|@item.equipmentUid.ToString()" value="@val" />
                                            }
                                        </td>
                                    </tr>                                    
                                }
                            }
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                if (item.Equipment2 != null)
                {
                    <tr style="border:none;display:none;" id="trreplace|@item.equipmentUid.ToString()">
                        <td> </td>
                        <td> </td>
                        <td colspan="2">Replaces:</td>
                        <td> </td>
                        <td>
                            <a href="@Url.Action("Edit", "Equipments", new { id = item.Equipment2.equipmentUid.ToString(), returnURL = "Index" })">@item.Equipment2.manufacturer</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Equipments", new { id = item.Equipment2.equipmentUid.ToString(), returnURL = "Index" })">@item.Equipment2.model</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Equipments", new { id = item.Equipment2.equipmentUid.ToString(), returnURL = "Index" })">@item.Equipment2.serialNumber</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Equipments", new { id = item.Equipment2.equipmentUid.ToString(), returnURL = "Index" })">@((item.Equipment2.installDate != null) ? item.Equipment2.installDate.Value.Year.ToString() : "")</a>
                        </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

