@model JCIEstimate.Models.EquipmentAttributeTypeTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipmentAttributeTypeTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipmentAttributeTypeTask1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipmentAttributeTypeTask1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.equipmentAttributeTypeTaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipmentAttributeTypeTaskDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentAttributeType.equipmentAttributeType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentAttributeType.equipmentAttributeType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.equipmentAttributeTypeTaskUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
