@model IEnumerable<JCIEstimate.Models.EquipmentAttributeTypeTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentAttributeType.equipmentAttributeType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipmentAttributeTypeTask1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipmentAttributeTypeTaskDescription)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentAttributeType.equipmentAttributeType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentAttributeTypeTask1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentAttributeTypeTaskDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.equipmentAttributeTypeTaskUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.equipmentAttributeTypeTaskUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.equipmentAttributeTypeTaskUid })
        </td>
    </tr>
}

</table>
