@model IEnumerable<JCIEstimate.Models.WarrantyIssue>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table>
    <tr>
        <td>
            <input type="text" name="txtFilter" title="search location/unit" id="txtFilter" value="" />
        </td>
        <td>
            <select class="filter" id="filter" name="filter">
                @foreach (var item in ViewBag.filterList)
                {
                <option value="@item.value" @((item.selected) ? "selected" : "" ) >@item.text</option>                    
                }
            </select>
        </td>                
        @*<td>
            <span>Search Location</span><input type="text" id="txtSearchLocation" name="txtSearchLocation" value="@ViewBag.location" />
        </td>*@
        @*<td>
            <div class="btn-link" id="lnkFilter" >Filter</div>
        </td>*@
    </tr>
</table>
<div id="tblWarrantyIssues">
    @Html.Partial("IndexPartial")
</div>
