@model JCIEstimate.Models.CostCode

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CostCode</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.costCodeUid)

        <div class="form-group">
            @Html.LabelFor(model => model.costCode1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.costCode1)
                @Html.ValidationMessageFor(model => model.costCode1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.costCodeDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.costCodeDescription)
                @Html.ValidationMessageFor(model => model.costCodeDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.jciCodeDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jciCodeDescription)
                @Html.ValidationMessageFor(model => model.jciCodeDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
