@model IEnumerable<JCIEstimate.Models.WarrantyStatu>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.warrantyStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warrantyStatusDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.behaviorIndicator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.listOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.warrantyStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warrantyStatusDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.behaviorIndicator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.listOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.warrantyStatusUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.warrantyStatusUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.warrantyStatusUid })
        </td>
    </tr>
}

</table>
