@model IEnumerable<JCIEstimate.Models.EquipmentNoteType>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.equipmentNoteType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipmentNoteTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.behaviorIndicator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentNoteType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentNoteTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.behaviorIndicator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.equipmentNoteTypeUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.equipmentNoteTypeUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.equipmentNoteTypeUid })
        </td>
    </tr>
}

</table>
