@model JCIEstimate.Models.ProjectCalendarDay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectCalendarDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCalendar.aspNetUserUid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCalendar.aspNetUserUid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.projectCalendarDayUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
