@{
    ViewBag.Title = "Mass Email";
    var model = ViewBag.list;
}

<h2>Mass Email</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <a id="btnExportMassEmail" style="cursor:pointer" >Export to Excel</a>
    <div id="dvMassEmailData">
        <table class="table">
            <tr>
                <th>
                    @*<input type="checkbox" name="massEmailSelectAll" id="massEmailSelectAll" value="massEmailSelectAll" />*@
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Company
                </th>
                <th></th>
            </tr>

            @foreach (var item in model)
            {
                <tr>
                    <td>
                        <input class="massEmailCheckBox" type="checkbox" name="massEmailCheckBox" id="massEmailCheckBox_@item.id" checked value="@(item.id + "_" + item.Name)" />
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Company
                    </td>
                </tr>
            }
        </table>
    </div>
    <table>
        <tr>
            <td>Recipients: </td>
            <td>@Html.DropDownList("recipientList")</td>
        </tr>
        <tr>
            <td>Subject: </td>
            <td><input type="text" name="subject" value="" size="59" /></td>
        </tr>
        <tr>
            <td>Body: </td>
            <td>@Html.TextArea("body", "", 10, 60, null)</td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send Emails" class="btn btn-default" />
        </div>
    </div>
}
