@model JCIEstimate.Models.Contractor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contractor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contractorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.engScopeCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engScopeCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contractorSelected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractorSelected)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contractorUid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
