@model IEnumerable<JCIEstimate.Models.Contractor>

@{
    ViewBag.Title = "Contractor List";
}
<h2>Contractor List</h2>

    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contractorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.engScopeCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contractorSelected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contractorGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractorClassification.contractorClassification1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostCode.costCode1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contractorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.engScopeCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contractorSelected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contractorGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractorClassification.contractorClassification1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCode.costCode1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contractorUid }) |
            @Html.ActionLink("Details", "Details", new { id=item.contractorUid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contractorUid })
        </td>
    </tr>
}

</table>
